<div class="baseDiv">
    <div class="titleDiv">
        <h2>My Shopping List</h2>
    </div>

    <!--Search-->
    <div class="searchDiv">
        <input type="text" ng-model="keyword" placeholder="search items ..." ng-disabled="disabled()">
        <button class="mybutton" ng-click="orderByDate()" ng-disabled="disabled()">order</button>
    </div>

    <!--Content-->
    <div class="contentDiv" ng-if="shoppingList">
        <ul class="myul">
            <li class="myli"
                ng-repeat="item in shoppingList | filter:keyword | orderBy:shoppingDate:reverse">
                <label class="myItemLabel">
                    {{item.itemName}}
                </label>
                <label class="myDateLabel redButtonHover">
                    {{item.shoppingDate | date :dateFormat}}
                </label>
                <span class="redButton" ng-click="delete(item)">x</span>
            </li>
        </ul>
    </div>

    <!--Add Item-->
    <div class="addDiv">
        <div>
            <label ng-bind="errorMessage"></label>
        </div>
        <div class="inputDiv">
            <input type="text" ng-model="itemName" placeholder="Add shopping item here ...">
            <button class="addBtn" ng-click="addItem()">Add</button>
        </div>
    </div>
</div>